@import url('https://fonts.googleapis.com/css?family=Noticia+Text');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noticia Text';
    font-size: 16px;
}
header{
    width: 100%;
    height: 650px;
    background-image: url(images/computer-1185567_1280.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: black;
    text-align: center;
}
header .textos{
    margin-top: 152px;
}
header .titulo{
    font-size: 90px;
}
header .subtitulo{
    font-size: 45px;
    font-weight: 300;
}
.sesgoabajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}
.sesgoarriba
{
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 35vh 100vw  0 0 ;
    border-style: solid;
    border-color: #ffffff transparent transparent  transparent;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0 52px;
}
.quienes_somos{
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 600;
    height: auto;
}
.parrafo{
    margin-bottom: 13px;
    font-weight: 300;
    text-align: center;
    text-align: justify;
    line-height: 25px;
}
.contenedor .servicios_productos{
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 600;
    height: auto;
}
.galeria{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
}